<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/editCar.css">
    <title>Document</title>
</head>
<body>
    <ul class="nav">
        <li><a href="/index">Home</a></li>
        <li><a href="/edit">New Vehicle</a></li>
        <li><a href="/existing">Edit Vehicle</a></li>
        <li style="float:right;"><a href= "/index">B&B Motors</a></li>
      </ul>

     <ul class="appear">
        <% for (let item of items) { %>
            <form id="<%= item._id%>" action="/delete/<%= item._id%>" method="post">
                <div class="itemclass">
                    <li>make: <%= item.make%> </li>
                    <li>model: <%= item.model%> </li>
                    <li>year: <%= item.year%> </li>
                    <li>img: <%= item.File%> </li>
                    <br>
                    <li class="buttonss">
                        <button><a href="/output/<%= item._id%>/edit" id="meow">edit</a></button>
                        <button>Delete</button>
                    </li>
                </div>
            </form>
            <br>
            <% } %>
</body>
</html>